<header>
    <div id="showcase">
            <div class="bg-image"></div>
            <div class="header-gradient"></div>
            <div class="content-wrap">
                <div class="logo"><h1>{{branding}}</h1></div>
                <div class="navigation">
                    <nav>
                        <ul>
                            <li><a href="trials.html">Past Trials</a></li>
                            <li><a href="about.html">How it works</a></li>
                            <li><a href="login.html">Log In/Sign Up</a></li>
                            <li><a href=""><span>Search</span></a></li>
                        </ul>    
                    </nav>
                </div>
            </div>
     </div>
</header>