<section id="main-banner">
    <div class="container">
        <article class="main-box">
            <p class="up-title">What is your opinion on</p>
            <h2 class="pope-title">Pope Francis?</h2>
            <p id="main-paragraph">He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
            <div class="small">
                <a href="">More Information</a>
            </div>
            <h4 class="veredict">What is your veredict?</h4>
        </article>
        <div class="vote">
                <button id="thumbsUp"><img src="../../../assets/Thumbs_Up.png"></button>
                <button id="thumbsDown"><img src="../../../assets/Thumbs_Down.png"></button>
        </div>
    </div>
</section>
