<div id="footer" class="grid">
    <div class="footer-container">
        <div class="list">
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="list-right">
                <ul>
                    <li><a href="#">Follow Us</a></li>
                    <li><a href="#"><img src="../../../assets/Facebook_Icon.png"></a></li>
                    <li><a href="#"><img src="../../../assets/Twitter_Icon.png"></a></li>
                </ul>
        </div>
    </div>
</div>
