<div id="newsfeed">
    <div class="content-wrap">
        <div class="title">
            <p class="speak">Speak out. Be heard.</p>
            <p class="be">Be counted</p>
        </div>
        <div class="news">
            <p class="news-text">Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opinion, we analyze and put the data in public report.</p>
        </div>
        <div class="close">
            <a href=""><img src="../../../assets/close-icon.jpg"></a>
        </div>
    </div>
</div>